/* Estilos para o cabeçalho */
body {
    background-color: #805a5a;
}

h1 {
    color: #333;
    font-size: 2.5rem;
}

/* Estilos para o botão */
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
